@charset "UTF-8";

@media screen and (max-width:500px) {
    header {
        flex-flow: column nowrap;
    }
    
    header > h1 {
        flex-basis: 50px;
    }
    
    
    header > nav {
        height: 90px;
        width: 80vw;

        flex-flow: column wrap;
    }

}