@charset "UFT-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: lightskyblue;
    height: 100vh;
    width: 100vw;
}

header {
    background-color: darkblue;
    color: white;
    padding: 10px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header > h1 {
    border: 1px dotted;
    flex: 0 0 200px;
}

header > nav {
    border: 1px dotted;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

header > nav > a {
    background-color: rgb(255, 238, 0);
    padding: 3px;
    margin: .5vw;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    color: black;

    flex: ;
}

header > nav > a:hover {
    /* font-weight: bold; */
    background-color: rgb(216, 171, 25);

    transition: background-color .2s;
}

main {
    padding: 10px 15px;
}

section {
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.356);
    max-width: 1024px;
}

section > p {
    padding: 10px 0;
    text-indent: 10px;
    line-height: 1.3em;
}

