@charset "UTF-8";

/* Geral */

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: #233eff;
}

h1 {
    color: azure;
    text-shadow: 2px 2px 0 #1626a0;
    padding: 10px;
}

body {
    background-size: contain;
    background-repeat: no-repeat;
}