@charset "UTF-8";

/* Todas demais Mídias */

/* -----------------------------------
    --Tipical Devide Breakpoints--
    
    -Pequenas Telas-  até 600px
    * Celular: 600 até 768 px;
    * Tablete: 769 até 992 px;
    * Desktop: 992 até 1200 px

    -Grandes telas- acima de 1200px
    ----------------------------------
*/

@media print { /* IMPRESSÃO*/
    * {
        font-family: 'Courier New', Courier, monospace;
    }
    
    body {
        background-image: url(../imagens/back-print.jpg); /* BACKGROUND NÃO SAI NA IMPRESSÃO*/
    }
    
    main {
        border: 2px solid black;
        width: 100vw;
        height: 90vh;
    }
    
    main > h1 {
        text-shadow: none;
        color: black;
        
    }

    main::after {
        content: 'Impresso através dos exercicios de Media Query';
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: block;}
    img#pc {display: none;}
    img#tv {display: none;}

}

@media screen and (min-width: 769px) and (max-width: 992px) { /* TABLET */
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    main {
        width: 400px;
    }

    img#phone {display: none;}
    img#tablet {display: block;}
    img#print {display: none;}
    img#pc {display: none;}
    img#tv {display: none;}
}

@media screen and (min-width: 993px) and (max-width: 1200px) { /* DESKTOP */
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    main {
        width: 600px;
        height: 370px;
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: block;}
    img#tv {display: none;}
}

@media screen and (min-width: 1201px) { /* GRANDES TELAS*/
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    main {
        width: 800px;
        height: 400px;
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: none;}
    img#tv {display: block;}

}