@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

p, h2 {
    padding: 10px;
    text-align: justify;
}

header, section.nomal {
    padding: 20px;
}

.container {
    padding: 10px;
    max-width: 1024px;
    margin: auto;

    display: flex;
}

section.flex-content {
    padding: 20px;
    background-color:lightblue;
    margin: auto;

    display: flex;
    flex-flow: column nowrap;
}

article.text-media {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

article.media-text {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
}

article > div.text {
    /* border: dotted red; */
    
    flex: 1 1 300px;
}

article> div.media {
    /* border: dotted yellow; */
    
    flex: 1 1 300px;
}

div.media > img {
    display: block;
    margin: auto;
    border-radius: 10px;
    width: 80vw;
    max-width: 300px;
    justify-content: space-between;
}

div.media > iframe {
    display: block;
    margin: auto;
    width: 500px;
    max-width: ;
}