@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

html, body {
     background-color: wheat;
}

header {
    background: rgb(78, 50, 28);
}

header > h1 {
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 2.5em;
}

span#burguer {
    display: block;
    background-color: black;
    width: 100vw;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

span#burguer:hover {
    background-color: white;
    color: black;
}

menu {
    display: none;
}

menu > h1 {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(44, 26, 12);
    color: wheat;
    border: 1px solid black;
    text-align: center;
}

menu > ul > li a:hover {
    background-color: rgb(51, 31, 16);
}

main {
    width: 85vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

article > h2 {
    padding: 20px;
}

article > p {
    text-align: justify;
    margin-bottom: 10px;
    text-indent: 20px;

}