@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

main {
    background-color: antiquewhite;
    width: 90vw;
    height: 100vh;
    margin: auto;

    display: grid;
    gap: 3px;
    grid-template-rows: .8fr .5fr 5fr 1fr;
    grid-template-columns: 1fr 3fr 1fr;
}

.item {
    background-color: lightskyblue;
    padding: 3px;
    margin: 3px;
    text-align: center;
    align-content: center;
}

#cabc {
    grid-area: 1 / 1 / 2 / -1;
}

#nav {
    grid-area: 2 / 1 / -3 / -1;
}

#asd1 {
    grid-area: 3 / 1 / -2 / 1;
}

#sec {
    grid-area: 3 / 2 / -2 / -2;
}

#asd2 {
    grid-area: -3 / 3 / -2 / -1;
}

#fot {
    grid-area: -2 / 1 / -1 / -1;
}