@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url(../fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --cor6: #fff;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', 'cursive';
    --fonte-android: 'Android', 'cursive';
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);   
}

a.externo::after {
    content: '\00a0\1F517';
}


header {
    background-color: var(--cor4);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    background-image: linear-gradient(to bottom ,var(--cor3),var(--cor5));
}

header > h1 {
    color: var(--cor6);
    font-family: var(--fonte-destaque);
    font-size: 4em;
    font-weight: normal;
    padding-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.29);
}

header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: var(--cor6);
    max-width: 500px;
    margin: auto;
    padding: 0 10px 0 10px;
}

.fundo-nav {
    background-color: var(--cor5);
    box-shadow: 0px 7px 9px 0px #00000052;
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    min-width: 300px;
    max-width: 1020px;
    margin: auto;
}

nav > a {
    color: var(--cor6);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .2s;
}

nav > a:hover {
    background-color: var(--cor3);
    color: black;
}

main {
    background-color: var(--cor6);
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.507);
    margin-bottom: 30px;
    border-radius: 0 0 10px 10px;
}

article > h1 {
    background-image: linear-gradient(to right, var(--cor2), transparent);
    padding-left: 20px;
}

article > h2 {
    background-image: linear-gradient(to right, var(--cor0), transparent);
    padding-left: 20px;
}

main p {
    margin: 30px 0; 
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
}

main a {
    color: var(--cor5);
    font-weight: bold;
    background-color: var(--cor0);
    padding: 2px;
    border-radius: 5px;
    text-decoration: none;
}

main strong {
    color: var(--cor4);
    font-size: 1.1em;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
}

main h2 {
    font-family: var(--fonte-android);
}

main img {
    width: 100%;
}

div.video {
    background-color: var(--cor5);
    padding: 15px;
    margin: 0 -20px 0 -20px;
    padding-bottom: 50%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor0);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.233);
    margin-top: 30px;
}

aside > ul {
    list-style-type: '\2714\00a0\0040';
    list-style-position: inside;
    columns: 2;
}

aside > h3 {
    background-color: var(--cor4);
    color: var(--cor6);
    padding: 10px;
    margin: -10px;
    border-radius: 10px 10px 0 0;
}

footer {
    background-color: var(--cor5);
    color: var(--cor6);
    text-align: center;
    padding: 5px;
}